
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
body {
    font-family: 'Didact Gothic', sans-serif;
    color:#333;
        box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
   
    background-color: #f2f2f2;
    height: 110px;
    padding: 10px 0;
    
}

nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.logo img {
    width: 100px;
    
}

.lang-menuu {
    width: 100px;
    text-align: right;
    font-weight: bold;
    margin-top: 25px;
    position: relative;
}





.lang-menuu {
    width: 100px;
    text-align: right;
    font-weight: bold;
    margin-top: 25px;
    position: relative;
}
.lang-menuu .selected-lang {
    display: flex;   
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
}
.lang-menuuy .selected-lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(https://lh3.googleusercontent.com/proxy/RbUIDCaJLdK8FSH2iCTnuLCHoeg0fENFK-0odGQTcReqst-LQQ4djTQ1Q_xbUbPyqQsQty_sWcaZB-mfMwcBT8DSu-U);
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menuu ul {

margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 0px;
    right: 10px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    font-size: 10px;

}


.lang-menuu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menuu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.lang-menuu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menuu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}


.ku:before {
    background-image: url(ku.png);
}
.ar:before {
    background-image: url(ar.png);
}
.ir:before {background-image: url(ir.png);

}
.en:before {
    background-image: url(en.png);
}

.lang-menu:hover ul {
    display: block;
}


@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
* {
  font-family: 'Open Sans', 'sans-serif';
}

html, body {
  overflow: hidden;
}

ul {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

li {
  display: inline-block;
  margin: 10px;
}

.download {
  width: 200px;
  height: 75px;
  background: black;
  float: left;
  border-radius: 5px;
  position: relative;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
}

.download > .fa {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.df,
.dfn {
  position: absolute;
  left: 70px;
}

.df {
  top: 20px;
  font-size: .68em;
}

.dfn {
  top: 33px;
  font-size: 1.08em;
}

.download:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
