@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");


@font-face {
  font-family: 'K24KurdishBold-Bold';
  src: url('K24KurdishBold-Bold.woff' ) format('woff2');
}


body {
    font-family: 'K24KurdishBold-Bold';
    color:#333;
    box-sizing: border-box;


}



header {
   
    background-color: #f2f2f2;
    height: 110px;
    padding: 10px 0;
    
}

nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.logo img {
    width: 100px;
    
}

.lang-menuu {

    width: 10px;
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
    Font-size: 2px;
}

.lang-menuu .selected-lang {
    display: flex;   
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
}
.lang-menuu .selected-lang:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
  text-align: center;
   
}

.lang-menuu ul {

margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 0px;
    right: 10px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    font-size: 10px;

}


.lang-menuu ul li {
	
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menuu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
	
}

.lang-menuu ul li:hover {
    background-color: #f2f2f2;
	
}

.lang-menuu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
	
}


.ku:before {
    background-image: url(ku.png);
}
.ar:before {
    background-image: url(ar.png);
}
.ir:before {background-image: url(ir.png);

}
.en:before {
    background-image: url(en.png);
}

.lang-menu:hover ul {
    display: block;
}


p{
    font-family: 'K24KurdishBold-Bold';
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
    position: relative;
    Font-size: 20px;
}


.dow{
	margin-top: 80px;
}

.template-footer {
  margin-top: 20px;
  padding: 1rem;
  color: #FFF;
  text-align: center;
  background-color: #842B37;
  border-top: .05rem solid #e5e5e5;
}
.template-footer p:last-child {
  margin-bottom: 0;
	
}
		  
footer a {
	
  color: #fff;
  font-size: 7px;
  transition-duration: 0.2s;
}
		  
.social {
margin-bottom:20px;
}
